* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	overflow:hidden;
}

body {
	background-color: #123456cc;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%;
	color: #fafafa;
}

.container {
	display:flex;
	align-items: center;
	justify-content: center;
	overflow:hidden;

	.content {
		height:100%;
		overflow:hidden;
		text-align: center;
		transform: translateX(0) translateZ(0);
		backface-visibility: hidden;

		animation: rolltitles 60s linear forwards;

	}
}

h1 {
	font-size: 6em;
	margin: 1em;
	font-weight: 300;
}

h2 {
	font-size:3.5em;
	margin:1em;
	font-weight: 300;
}

h3 {
	font-size:2em;
	// font-weight:300;
}

p {
	font-size:2em;
	margin:2em;
}

ul {
	list-style-type: none;

	li {
		font-size:2em;
		margin:2em;
	}
}

hr {
	width:7em;
	margin:6em auto;
	color: #fafafa;
}

img {
	max-width: 50em;
	margin: 5em;
	&.pesemsi {
		max-width:initial;
		filter: hue-rotate(40deg);
		margin:25em;
	}
}

@keyframes rolltitles {
	0%{
		transform: translateY(0);
	}
	100% {
		transform: translateY(-3500px);
	}
	
}