* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	overflow:hidden;
}

body {
	background-color: #123456;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%;
}

.container {
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
	overflow:hidden;


	.content {	
		position:relative;
		width: 64em;
		height: 40em;
		border: #fafafa 1em solid;
		transform: translateY(-500em) rotate(-10deg);

		
		background-color: #fff;
		background-image: url('pesemsi.png');
		background-repeat: no-repeat;
		background-position:center center;
		background-size: 35em;
		perspective: 200px; 

		animation: 
			fall 4s forwards linear, 
			fallout 2s 21s ease-out forwards;


		h1 {
			position:absolute;
			top: 0;
			left:0;
			bottom:0;
			right:0;
			color: #fafafa;
			font-size: 5em;
			text-align:center;
			display: flex;
			align-items: center;
			justify-content:center;
			background: linear-gradient(-45deg, #555555, #79000f, #B94A48, #C09853);
			background-size: 400% 400%;

			transform-origin: 0 0;

			animation: 
				gradient 10s ease infinite, 
				open 1s 15s forwards;

		}
		h1:before {
			content:"";
			white-space: pre;
			animation: countdown 11s 1s forwards;
		}	
	}

}

@keyframes fall {
	0% {
		transform: translateY(-500em) rotate(-10deg);
	}
	20%  {
		transform: translateY(0) rotate(-10deg);
	}
	22% {
		transform: translateY(0) rotate(-10deg);
	}
	24% {
		transform: translateY(0em) rotate(0deg);
	}
	26% {
		//transform: translateY(0em) rotate(-4deg);
	}
	28% {
		transform: translateY(-3em) rotate(0deg);
	}
	30% {
		transform: translateY(0em) rotate(0deg);
	}
	95% {
		transform: translateY(0em) rotate(0deg);
	}
	100% {
		transform: translateY(0em) rotate(0deg); // rotateY(90deg);
	}

}

@keyframes fallout {
	0% {
		transform: translateY(0em) rotate(0deg);
	}
	100% {
		transform: translateY(500em) rotate(-45deg);
	}
}

@keyframes countdown {
	0% {
		content:"3"
	}
	20% {
		content:"2";
	}
	25% {
		content:"1";
	}
	35% {
		content:"VIDEO VIRTUALNI \a VEČER";
	}
	65% {
		content:"Aleš Jelenko: \a Paralelna vesolja";
		background-image: none;
	}
	100% {
		content:"Večer povezuje: \a Helena Zemljič";
	}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes open {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotateY(145deg);
	}
}

